<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
</head>
<body>
<div class="site-navbar-wrap" th:fragment="navi(activeTab)">

    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-3">
                    <h1 class="my-0 site-logo"><a href="index.html">Spring Shop</a></h1>
                </div>
                <div class="col-6 col-lg-9">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">

                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3 "><a href="#"
                                                                                           class="site-menu-toggle js-menu-toggle text-black">
                                <span class="icon-menu h3"></span>
                            </a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">

                                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"
                                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/admin}">Панель администратора<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/}">Главная<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/shop}">Каталог товаров<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" th:classappend="${activeTab == 'ShoppingCart' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/cart}">Корзина<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item"
                                    th:classappend="${activeTab == 'RegistrationForm' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/register/showRegistrationForm}">Добавить
                                        пользователя<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" sec:authorize="isAnonymous()">
                                    <a class="nav-link" th:href="@{/login}">Войти</a>
                                </li>
                                <li class="nav-item" sec:authorize="isAuthenticated()">
                                    <form th:action="@{/logout}" method="POST">
                                        <input type="submit" class="nav-link" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <input id="ProductQuantity" type="text" size="40">
<!--    <button id="connect" onclick="connect();">Connect</button>-->
    <button id="sendName" onclick="update();">Update</button>
</div> <!-- END .site-navbar-wrap -->

</body>
</html>