<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head::head"/>

<body>
<navi th:replace="~{fragments/navigation :: navi(Shop)}"></navi>
<main>
    <div class="container">
        <div class="row">
            <div id="loginbox" class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="text-white">Sign In</h5>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{/authenticateTheUser}" method="POST">
                            <div class="form-group">
                                <div class="col-xs-15">
                                    <div>
                                        <div th:if="${param.error} != null">
                                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                                Invalid username and password.
                                            </div>
                                        </div>
                                        <div th:if="${param.logout} != null">
                                            <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                                You have been logged out.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="username" placeholder="username" class="form-control my-2">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" placeholder="password" class="form-control my-2">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 controls">
                                    <button type="submit" class="btn btn-success my-2">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer::footer}"/>
</body>
</html>